
.portlet-boundary_com_rubensr_tm_portlet_TaskManagerPortlet_ {
	.searchcontainer {
		th:nth-child(1){
			width: 25%;
		}
		
		th:nth-child(2){
			width: 48%;
		}
		
		th:nth-child(3){
			width: 15%;
		}
		
		th:nth-child(4){
			width: 10%;
		}
		
		th:nth-child(5){
			width: 2%;
		}
	}
	
	.taglib-page-iterator{
		margin-top: 1rem;		
	}
}